<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.tufts.cs.mchow.fingerdoodle"
	android:versionCode="2"
	android:versionName="1.1">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"/>

	<application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="edu.cs.tufts.mchow.FingerDoodle"
			android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<meta-data android:name="com.crashlytics.ApiKey" android:value="2696b6180c803c2901bd36859ff21f19420506cb"/>
	</application>
</manifest> 
